<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">

      <a href="{{ site.url }}" class="site-title">
        <img class="site-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Keltischer_knoten.svg/101px-Keltischer_knoten.svg.png" alt="" />
        {{ site.title }}
      </a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
